$yellow: #F5DD16;
$dark-grey: #949393;
$light-grey: #d1cece;
$red: #EE4525;
$green: #008000;

$peter-river: #3498db;
$belize-hole: #2980b9;

.header {
  padding-top: 30px;
}

.project-box {
  border: 1px solid $light-grey;
  border-radius: 9px;
  margin: 0px 20px;
  padding: 20px;

  .project-actions {
    padding-bottom: 40px;

    .btn {
      font-size: 0.9rem;
    }
  }

  .task-list {
    padding: 0px;
    list-style: none;

    div > li {
      border-top: 1px solid $light-grey;
      padding-top: 10px;
      margin: 10px 0px;
    }

    div > li:nth-child(1) {
      padding-top: 0px;
      border-top: 0;
    }
    font-weight: 500;

    .complete {
      color: $peter-river;
    }
    .edit {
      color: $green;
    }
    .delete {
      color: $red;
    }
  }

  .task-status {
    margin-top: 20px;
    font-size: 1.1rem;
    border: 1px solid $belize-hole;
    border-radius: 10px;
    text-align: center;
    background-color: $peter-river;
    color: white;
  }
}
